<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZarinpalWebGate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <ZarinpalWebGate.Properties.Settings>
            <setting name="WebApplication1_zarinpal_PaymentGatewayImplementationService"
                serializeAs="String">
                <value>https://de.zarinpal.com/pg/services/WebGate/service</value>
            </setting>
        </ZarinpalWebGate.Properties.Settings>
        <WebApplication1.Properties.Settings>
            <setting name="WebApplication1_com_zarinpal_de_PaymentGatewayImplementationService"
                serializeAs="String">
                <value>https://de.zarinpal.com/pg/services/WebGate/service</value>
            </setting>
        </WebApplication1.Properties.Settings>
    </applicationSettings>
</configuration>
